html,body{
	min-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	cursor: pointer;
  font-family: Bebas Neue;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}


#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}















#cityimages4{
	margin-top: 25%;
}

#citytext4{/*şehrim sayfasındaki dördüncü sayfada bilgilerin bulundu div id'si*/
	text-align: center;
	margin-top: 45%;
}


#citytext3{/*şehrim sayfasındaki üçüncü sayfada bilgilerin bulundu div id'si*/
	text-align: center;
	margin-top: 35%;
}


#citytext2{/*şehrim sayfasındaki ikinci sayfada bilgilerin bulundu div id'si*/
	text-align: center;
	margin-top: 25%;
}


#citytext{/*şehrim sayfasında resim ve bilgilerden ilk sayfanın bulunduğu div id'si */
	text-align: center;
	margin-top: 35%;
}


.girisform{/*giriş formu divi id'si*/
	margin-top: 35%;
}

.iletisimform{/*iletişim formu divi id'si*/
	margin-top: 30%;
  
}

.form-control{/*form input class*/
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
}

#city{/*ikinci sayfa(paragrafın ve slider ın bulunduğu div id'si)*/
	text-align: center;
	position: relative;
	max-height: 100vh;
	height: 100vh;
  }

#formsection{/*ikinci sayfa(formun ve svgnin bulunduğu div id'si)*/
	text-align: center;
	position: relative;
	max-height: 100vh;
	height: 100vh;
  }
  

#first_section{/* başlığı içinde bulunduran div id'si*/
	position: relative;
  display: flex;
  justify-content: center;
	height: 100vh;
	text-align: center;
  }
  #first{ /*ilk sayfanın başlığının id'si*/
	  position:absolute;
	  left:50%;
	  top:45%;
	  transform:translate(-50%,-50%) scale(6);
	  font-size: 1.3vw;
    }
  
  #text{/*ikinci sayfa(paragrafın ve slider ın bulunduğu div id'si)*/
	text-align: center;
	position: relative;
	max-height: 100vh;
	height: 100vh;
  }
  
  .miras{/*mirasımız sayfasındaki tanıtım yazısının classı*/
	  margin-top: 6vw;
	  
  }

#carouselExampleControls{ /*slider*/
	top:100px;
  }

.nav-item{/*menü */
	font-size: 30px;
 
  }

#navbarTogglerDemo03{
   margin-left: 20%;
}

#progress-bar{/*sayfanın ilerleme yüzdesine göre sağdan sola ilerleyen bar*/
	position:fixed;
	top:0;
	left:0;
	height:8px;
	background-image: linear-gradient(to right, #fff1eb 0%, #3e758f 100%);
	width:0%;
	z-index:100;
}

/*form buton css efektleri*/
.btn-primary{
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn-primary:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btn-primary:active {
    color: #000
}

.btn-primary:active:after {
    background: transparent;
}

.btn-primary:hover:before {
    opacity: 1;
}

.btn-primary:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}