.demo-grid{
	
	height:800px;
	background-color:#116466;	
	font-family:Square Peg;
	text-align:center;
	color:white;
	font-size:90px;
	line-height:500px;
}

.demo-grid2{
	
	background-color:#D1E8E2;
	text-align:center;	
}

.demo-grid2 p{
	position:absolute;
	top:40%;	
}

.menu{
	background-color:#D1E8E2;
}

.navbar-nav{
	padding:5px;
	margin:5px;	
}

.form1{
	position:absolute;
	margin:100px;
	padding:100px;
	
}

.iletisimform{
	position:absolute;
	top:190px;
	right:260px;
}

.girisform{
	
	position:absolute;
	top:190px;
	right:300px;
	
}

.demo-grid3{
	background-color:#D1E8E2;
	text-align:center;	
}

.demo-grid3 p{
	position:absolute;
	font-family:Square Peg;
	top:300px;
	right:300px;
	font-size:60px;
}

.girisform input[type=text], .girisform input[type=password], .girisform input[type=submit]{
	
	font-size:23px;
	
}

.iletisimform input[type=text], .girisform input[type=password], .girisform input[type=submit]{
	width:400px;
	font-size:20px;
	
}

/*.btn btn-secondary btn-lg {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 450px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 550px;
  padding: 10px;
  background-color: #D1E8E2;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: #116466;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}*/


#progress-bar{
	position:fixed;
	top:0;
	left:0;
	height:8px;
	background:linear-gradient(to right,#13547a,#80d0c7);
	width:0%;
	z-index:100;
}
